<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="projectSettings" type="ProvisioningBuildTools.ProjectSection,ProvisioningBuildTools"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="eWDKPath" value="C:\17134.1.3\LaunchBuildEnv.cmd"/>
    <add key="devenvExePath" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\devenv.exe"/>
    <add key="devenvComPath" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\Common7\IDE\devenv.com"/>
    <add key="provisioningSolution" value="Provisioning.sln"/>
    <add key="provisioningRepository" value="https://dev.azure.com/MSFTDEVICES/Vulcan/_git/DeviceProvisioning"/>
    <add key="desmoBuildFolder" value="\\desmo\release\Vulcan\CI_DeviceProvisioning\refs\heads\"/>
    <add key="defaultSourceFolder" value="C:\Users\{UserProfile}\source\repos\"/>
    <add key="allowedUploadList" value="ProvisioningTools,DeviceBridge,DBProxySdk,"/>
    <add key="defaultSelectedUploadList" value="ProvisioningTools,"/>
    <add key="maxAvailableSlot" value="64"/>
    <add key="useExternalProvisioningTester" value="false"/>
    <!--only allowed ProvisioningTester for easy select in JDM1 test-->
    <!--<add key="allowedCommandList" value="ProvisioningTester,"/>-->
  </appSettings>
  <projectSettings>
    <!--Support provisioningTesterPreArg list:SN,IP,Slot,Env-->
    <!--Support testEnvironmentType list:CORP,JDM1,PLAB,REYNOSA-->
    <projects>
      <project name=""
               sourceFolder=""
               provisioningToolsFolder=""
               buildScriptsFolder=""
               capsuleFolder=""
               capsuleInfoConfigurationPath=""
               provisioningPackageFolder=""
               taskOpCodeList="Rollback,Provision,"
               provisioningTesterPreArgFormat="-SN {SN} -IP {IP} -Slot {Slot} -Env {Env}"
               testEnvironmentType="CORP"
               inputGenealogyFileName="InputGenealogy*.xml"
               inputGenealogyPath=""
               nodeNameForSN="SystemDutSn"
               useExternalProvisioningTester="false"
               />
    </projects>
  </projectSettings>
</configuration>