<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mappingSettings" type="ExternalProvisioningTester.MappingSection,ExternalProvisioningTester"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <mappingSettings>
    <markedMappings>
      <!--<markedMapping value="Choose task by typing a number:"/>
      <markedMapping value="IP address:"/>
      <markedMapping value="Choose test environment by typing a number:"/>
      <markedMapping value="Choose stage by type a number:"/>-->
    </markedMappings>
    <commentMappings>
      <commentMapping name="Exit">
        <allowedComments>
          <allowedComment value="Exit Program"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="GoBack">
        <allowedComments>
          <allowedComment value="Go Back"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="SN">
        <allowedComments>
          <allowedComment value="Get System DUT Serial Number of the device to execute:"/>
          <allowedComment value="Get Compute DUT Serial Number of the device to execute:"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="Env">
        <allowedComments>
          <allowedComment value="Test Environment:"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="IP" >
        <allowedComments>
          <allowedComment value="Change IP address"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="RollbackComplete" >
        <allowedComments>
          <allowedComment value="Rollback Complete"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="ProvisioningComplete" >
        <allowedComments>
          <allowedComment value="Provisioning Complete"/>
          <allowedComment value="Provision Complete"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="DutUtilities" >
        <allowedComments>
          <allowedComment value="DUT Utilities"/>
          <allowedComment value="DutUtilities"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="TurnPduOn" >
        <allowedComments>
          <allowedComment value="Turn PDU on"/>
        </allowedComments>
      </commentMapping>
      <commentMapping name="TurnPduOff" >
        <allowedComments>
          <allowedComment value="Turn PDU off"/>
        </allowedComments>
      </commentMapping>
    </commentMappings>
    <taskOpMappings>
      <taskOpMapping name="Rollback" value="RollbackComplete"/>
      <taskOpMapping name="Provision" value="ProvisioningComplete"/>
      <taskOpMapping name="TurnPduOn" value="TurnPduOn,DutUtilities-TurnPduOn"/>
      <taskOpMapping name="TurnPduOff" value="TurnPduOff,DutUtilities-TurnPduOff"/>
    </taskOpMappings>
  </mappingSettings>
</configuration>